<!DOCTYPE html>
<html>
  <head>
    <title>RubyDoctorAppts</title>
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class=" ui container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= react_component('Navbar', {prerender:true}) %>
    <%= yield %>
  </body>
</html>
